body {
    font-family: "Open Sans", sans-serif;
    background-color: #d5edba;

}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}
 h2 {
    color: #299a2e;
}
header h2 {
    color: #b1e873;;
}
p, h1, h2{
    letter-spacing: 1px;
}

.site-footer {
    background-image: linear-gradient(#75b52c, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 35px;
    background-image: linear-gradient(to right,#64732F, #34401A);
    color: white;
    background-image: url(https://images.unsplash.com/photo-1487017931017-0e0d9e02bb0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTYwfHxncmVlbiUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}

.navbar {
    background-color: #75b52c;;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
  }

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
  }
  .carousel {
      border:10px solid #75b52c;
      border-radius: 23px;
  }
  .carousel-inner {
    border-radius: 13px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
.card {
    transition: all .3s ease-in-out;
    border-radius: 10px;
}
.card:hover {
    transform: scale(1.05);
}

img.card-img-top {
    padding: 0;
    border: 5px solid #75b52c;
}

